.idea
dataset
scripts/outputs
scripts/virtuoso_load_ttls_from_folders.sh
scripts/virtuoso_isql_exec_script.sh
scripts/virtuoso_isql_exec_script_varius_file.sh
scripts/virtuoso_isql_exec_script_old.sh
scripts/feature_extraction_script/functions/__pycache__
scripts/test/__pycache__