#cache
__pycache__

#Idea
.idea

#Carpeta output y sparql_files
scripts/outputs
scripts/sparql_files/*.py
scripts/feature_extraction_script/operators.json

#Archivos de testeo
scripts/virtuoso_isql_exec_script_old.sh
WIKIDATA5-ejemplo predicados.rq
ejemplo.sql



