# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.idea
dataset
scripts/outputs
scripts/virtuoso_load_ttls_from_folders.sh
scripts/virtuoso_isql_exec_script.sh
scripts/virtuoso_isql_exec_script_varius_file.sh
scripts/virtuoso_isql_exec_script_old.sh
scripts/feature_extraction_script/functions/__pycache__
scripts/feature_extraction_script/returns
scripts/test/__pycache__
scripts/csv_files